{% extends 'cart/cart.html' %}

{% block title %}Validation du Pannier{% endblock title %}

{% block banniere %}{% endblock banniere %}


{% block content %}

    <div class="bg-gray-100 py-6 flex flex-col justify-center sm:py-12 sm:flex-row sm:items-center">

        <div class="relative py-3 sm:max-w-xl sm:mx-auto">
          <div class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-3xl sm:p-10">
            <div class="max-w-md mx-auto">


                <div class="block pl-2 font-semibold text-xl self-start text-gray-700">
                  <h2 class="leading-relaxed">Veuillez entrer vos informations personnels</h2>
                </div>

              <div class="divide-y divide-gray-200">
                <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">

                    <div class="flex items-center space-x-4">

                        <div class="flex flex-col">
                          <label class="leading-loose">Prénom</label>
                          <div class="relative focus-within:text-gray-600 text-gray-400">
                            <input type="text" name="first_name" value="{{request.user.first_name}}" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600">
                          </div>
                        </div>
    
                        <div class="flex flex-col">
                          <label class="leading-loose">Nom</label>
                          <div class="relative focus-within:text-gray-600 text-gray-400">
                            <input type="text" name="last_name" value="{{request.user.last_name}}" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600">
                          </div>
                        </div>

                      </div>

                      <div class="flex flex-col">
                        <label class="leading-loose">Adresse</label>
                        <input type="text" name="adress" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="Adresse">
                      </div>

                  <div class="flex items-center space-x-4">

                    <div class="flex flex-col">

                            <label class="leading-loose">Code postale</label>
                            <div class="relative focus-within:text-gray-600 text-gray-400">
                                <input type="text" name="zipcode" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="Code Postale">
                            </div>
                            </div>

                            <div class="flex flex-col">
                            <label class="leading-loose">Ville</label>
                            <div class="relative focus-within:text-gray-600 text-gray-400">
                                <input type="text" name="place" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="Ville">
                            </div>
                            </div>

                  </div>


                  <div class="flex flex-col">
                    <label class="leading-loose">Téléphone</label>
                    <input type="text" name="phone" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="Téléphone">
                  </div>

                  <div class="flex flex-col">
                    <label class="leading-loose">Email</label>
                    <input type="text" name="email" value="{{request.user.email}}" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600">
                  </div>
                </div>

                <div class="mb-6 p-6 bg-gray-100 rounded-xl" id="errors">

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="h-full rounded-lg border bg-white p-6 shadow-md md:mt-0 m-5">
            <div class="flex justify-between">
              <p class="text-lg font-bold">Total</p>
              <div>
                <p class="mb-1 text-lg font-bold">{{cart.get_total_cost}} €</p>
              </div>
            </div>
            <button onclick="buy(event)"
            class="mt-6 w-full rounded-md bg-blue-500 py-1.5 font-medium text-blue-50 hover:bg-blue-600">Valider le panier</button>
          </div>

        </div>
      </div>
      </div>

{% endblock content %}

{% block scripts %}
  <script type="application/javascript" src="https://js.stripe.com/v3/"></script>
      <script>

        let el = document.querySelector('#errors')
        function validateForm(data) {
          let errors = []
  
          if (data.first_name === '') {
              errors.push('First name is empty')
          }
  
          if (data.last_name === '') {
              errors.push('Last name is empty')
          }
  
          if (data.email === '') {
              errors.push('Email is empty')
          }
  
          if (data.phone === '') {
              errors.push('Phone is empty')
          }
  
          if (data.adress === '') {
              errors.push('Address is empty')
          }
  
          if (data.zipcode === '') {
              errors.push('Zipcode is empty')
          }
  
          if (data.place === '') {
              errors.push('Place is empty')
          }
  

          if (errors.lenght > 0){
            let html = '<ul>'

              errors.forEach((error) =>{
                html += '<li>' + error + '</li>';
              })
              el.innerHTML = html + '</ul>';
          }else{
            el.innerHTML = '';
          }
          return errors
      }
  
      function buy(event) {
          event.preventDefault()
  
          let data = {
              'first_name': document.querySelector('input[name=first_name]').value,
              'last_name': document.querySelector('input[name=last_name]').value,
              'email': document.querySelector('input[name=email]').value,
              'phone': document.querySelector('input[name=phone]').value,
              'adress': document.querySelector('input[name=adress]').value,
              'zipcode': document.querySelector('input[name=zipcode]').value,
              'place': document.querySelector('input[name=place]').value,
          }
  
          let errors = validateForm(data)
  
          if (errors.length) {
              console.log('Errors', errors)
          } else {
              var stripe = Stripe('{{ pub_key }}')
  
              fetch('/order/start_order/', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json',
                      'X-CSRFToken': '{{ csrf_token }}'
                  },
                  credentials: 'same-origin',
                  body: JSON.stringify(data)
              })
              .then(function(response) {
                  return response.json()
              })
              .then(function(session) {
                  return stripe.redirectToCheckout({ sessionId: session.session.id })
              })
              .then(function(result) {
                  if (result.error) {
                      alert(result.error.message)
                  }
              })
              .catch(function(error) {
                  console.log('Errors', error)
              })
          }
  
          return false
      }
      </script>
  {% endblock scripts %}